<nav>
    <li>
        <ul>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blogs">Blogs</a>
            <a href="/add-blog">Add Blog</a>
            <a href="/user">Userss</a>
            <a href="/user/add-user">Add New User</a>

            <a href="/category">Categories</a>
            <a href="/category/add">Add New Cat</a>
        </ul>
    </li>
</nav>