<nav>
    <li>
        <ul>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blog">Blogs</a>
            <a href="/blog/add">Add Blog</a>
            <a href="/user">Users</a>
            <a href="/user/add-user">Add New User</a>

            <a href="/category">Categories</a>
            <a href="/category/add">Add New Cat</a>
        </ul>
    </li>
</nav>