<html>
    <%- include('./partials/header.ejs') %>
    <body>
        <div class="container">
            <%- include('./partials/nav.ejs') %>
            <h1>Oops! Page doesn't Exist...</h1>
            
            
    
            <%- include('./partials/footer.ejs') %>
        </div>
    </body>
</html>