<html>
    <%- include('../partials/header.ejs') %>

    <body>
        <%- include('../partials/nav.ejs') %>

        <h1>Add New Category</h1>
        <form action="/category/add" method="POST">
        
            <input type="text" name="category_name" placeholder="category name"><br>
            <span style="color:red">
                <% if (hasOwnProperty("error")) { %> <%=error %> <% } %>
            </span><br>
        
            <button>Add Category</button>
        </form>
    </body>
</html>