<html>
    <%- include('../partials/header.ejs') %>

    <body>
        <%- include('../partials/nav.ejs') %>

        <h1>Add Blog</h1>
        <form onsubmit="return false">
        
            <input type="text" name="title" placeholder="Content title"><br>
            <select name="category" >
                <option value="-1">Select Category</option>
            </select>
            <textarea name="body"  cols="30" rows="10" placeholder="Write your body here..."></textarea>
            <span id="errorStatus" style="color:red">
                
            </span><br>
        
            <button id="submit">Add Blog</button>
        </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){


                $(document).on('click', '#submit',()=>{
                    var title = $('input[name=title]').val();
                    var body = $('textarea[name=body]').val();
                    var category = $('select[name=category]').val();
                    if(title==""){
                        showError('Enter the title');
                    }else if(category=="-1"){
                        showError('Select Category');
                    }else if(body==""){
                        showError('Enter the body');
                    }else{
                        $.post(
                            '/blog/add',
                            {category:'cat', title:'title', body:'body'},
                            function(data){
                                alert(data)
                            }
                        )
                    }
                })

                function showError(error){
                    $('#errorStatus').text(error);
                }



                // $.post("demo_test_post.asp",
                // {
                //     name: "Donald Duck",
                //     city: "Duckburg"
                // },
                // function(data, status){
                //     alert("Data: " + data + "\nStatus: " + status);
                // });




            })
        </script>
    </body>
</html>